# Ignorar arquivos de credenciais
credentials1.json
credentials2.json

# Ignorar arquivos de tokens
token1.json
token2.json
zoom_token.json
zoom_token_scheduler_1
zoom_token_scheduler_2

# Ignorar diretórios de ambiente virtual
venv/
__pycache__/

# Ignorar arquivos temporários de sistema operacional
*.log
*.swp
*.swo
.DS_Store

# Ignorar arquivos de configuração do editor (ex: VSCode)
.vscode/

# Ignorar builds e artefatos
build/
dist/
*.pyc
